@use "../scss/abstracts" as *;
@use "../scss/base" as *;

.contact {
  .form-section {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .sign-active {
      color: $primary-light;
    }
  }
  .logo {
    h1 {
      color: $primary-light;
      font-size: 50px;
    }
    span {
      color: $primary-light;
      font-size: 40px;
    }
  }
  form {
    background-color: transparent;
    padding: 40px;
    width: 100%;
    border-radius: 20px;
    // box-shadow: 0px 0px 30px $primary-light;
    .form-item {
      margin-bottom: 10px;
      input {
        width: 100%;
        background: none;
        border-bottom: 1px solid $primary-light;
        z-index: 10;
        color: $primary-light;
        &:focus {
          background-color: transparent;
        }
      }
      label {
        color: $primary-light;
        transition: all 0.2s ease;
        position: relative;
        left: 0;
        top: 20px;
        opacity: 0.8;
      }

      input:focus + label {
        margin-top: -30px;
      }
    }
    .more-info {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      label {
        color: $primary-light;
      }
      input[type='checkbox'] {
        background: $primary-dark;
      }
      #forgot-pass {
        color: $primary-light;
        @include transition;
      }
    }
    .submit {
      input {
        width: 100%;
        color: #fff;
        margin-top: 30px;
        background-color: $primary-light;
        color: $primary-dark;
        padding: 5px 0px;
        font-size: 20px;
        border: 1px solid $primary-light;
        border-radius: 50px;
        @include transition;
        &:hover {
          background: $primary-dark;
          color: $primary-light;
          border: 1px solid $primary-light;
        }
      }
    }
    .sign-with {
      width: 100%;
      margin-top: 30px;
      color: $primary-light;
      text-align: center;
      .social {
        background: #fff;
        height: 40px;
        display: inline-block;
        padding: 10px 10px;
        margin: 10px auto;
        vertical-align: center;
        border-radius: 5px;
        text-align: center;
      }
      .account {
        color: $primary-light;
        margin-top: 30px;
        a {
          color: $primary-dark;
        }
      }
    }
  }
}
.main-img {
  @include flexin;
  width: 50%;
  img {
    width: 500px !important;
  }
}
@include mq(large) {
  .logo {
    h1 {
      color: $primary-light;
      font-size: 35px!important;
    }
    span {
      color: $primary-light;
      font-size: 25px!important;
    }
  }
  .contact {
    .container {
      display: flex;
      flex-direction: column;
      .form-section {
        width: 100%;
      }
      .main-img {
        width: 100%;
      }
    }
  }
}
@include mq(small) {
  .more-info {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.err {
  display: none;
  margin-bottom: 2rem;
  background-color: rgba($primary-light, 0.6);
  padding: 0.5rem;
}
.errmsg {
  display: block;
}
.label-active {
  position: relative !important;
  top: 0 !important;
  font-size: 14px;
}
