@use "../scss/abstracts" as *;
@use "../scss/base" as *;

.popup {
  .container {
    @include flexin;
    flex-direction: column;
    text-align: center;
    img {
      width: 350px;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 2.5rem;
      color: $primary-light;
      margin-bottom: 1rem;
    }
    button {
      width: 200px;
      padding: 0.5rem;
      margin-bottom: 1rem;
      outline: none;
      border: none;
    }
    .notify-pop {
      .overlayPop {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        @include flexin;
        background: rgba(0, 0, 0, 0.5);
        z-index: 120;
        .popup {
          width: 400px;
          height: 400px;
          background: #fff;
          border-radius: 20px;
          padding: 20px;
          box-shadow: 0 0 20px #000;
          position: relative;
          @include flexin;
          flex-direction: column;
          .closeBtn {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 10px;
            right: 10px;
            background: #ffd896;
            border-radius: 10px;
          }
          .updateBtn {
            width: 150px;
            color: $primary-dark;
            background: $primary-light;
            padding: 0.5rem 0;
            margin-top: 1rem;
            border-radius: 0;
          }
        }
      }
    }
  }
}
