@use "../scss/abstracts" as *;
@use "../scss/base" as *;


//////////// tabs////////////
.tabs {
  min-height: 100vh!important;
  .container {
    flex-direction: column;
    @include flexin;
    .tab__btn {
      .btn-active {
        transform: scale(1.3);
        color: rgba($primary-light, 1);
        transition: all 0.3s ease;
      }
      &__items {
        background: transparent;
        color: rgba($primary-light, 0.4);
        outline: none;
        border: none;
        font-size: 2rem;
        margin: 1rem;
        user-select: none;
        cursor: pointer;
        position: relative;
      }
    }
    .tab__content {
      position: relative;
      width: 100%;
      min-height: 400px;
      .content {
        position: absolute;
        top: 0;
        height: 100%;
        color: $primary-light;
        visibility: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        padding: 3rem 1rem;
        .content-body {
          h1 {
            font-size: 2.2rem;
            margin-bottom: 1rem;
          }
        }
        .content-img {
          justify-self: center;
          img{
            width: 300px;
          }
        }
      }
    }
  }
  @include mq(medium) {
    .tab__btn {
      &__items {
        font-size: 1.2rem !important;
      }
    }
    .content {
      grid-template-columns: 1fr !important;
      justify-items: center;
    }
    .tab__content {
      min-height: 600px!important;
    }
  }
}
.tab-btn-active {
  border-bottom: 2px solid $primary-light !important;
}
.tab-active {
  visibility: visible !important;
  animation: tab-show 0.5s ease;
}
@keyframes tab-show {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}